body {
    margin: 0;
    overflow: hidden;
    background-color: #f7f7f7;
}

@keyframes moveClouds {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100vw 0;
    }
}

.game-container {
    position: relative;
    width: 100vw;
    height: 200px;
    border: 1px solid #000;
    overflow: hidden;
    background: url('https://media.istockphoto.com/id/1476169765/pt/foto/art-collage-success-support-businesswoman-bounce-on-trampoline-jump-flying-high-to-grab-star.webp?s=2048x2048&w=is&k=20&c=-TzgKX7jqyQxgjrY3-7DeD35CN9FWj7GzSva0F3bDIE=') repeat-x;
    animation: moveClouds 30s linear infinite;
}

.character {
    position: absolute;
    bottom: 20px;
    left: 50px;
    width: 40px;
    height: 40px;
    background-color: #ffcc00;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eyes {
    display: flex;
    justify-content: space-between;
    width: 60%;
    position: absolute;
    top: 8px;
}

.eye {
    width: 8px;
    height: 8px;
    background-color: #000;
    border-radius: 50%;
}

.mouth {
    position: absolute;
    bottom: 8px;
    width: 20px;
    height: 10px;
    background-color: #000;
    border-radius: 0 0 10px 10px;
    transform: rotate(180deg);
}

.obstacle {
    position: absolute;
    bottom: 20px;
    width: 20px;
    height: calc(10px + 10px * Math.random());
    background-color: #8b4513;
    border-top: 8px solid hsl(120, 60%, 40%);
    border-radius: 5px;
    animation: moveObstacle 2s linear infinite;
}




.score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: #333;
}
